<mat-spinner *ngIf = "isLoading"></mat-spinner>
<mat-accordion multi = "true" *ngIf = "users.length>0 && !isLoading">
  <mat-expansion-panel *ngFor = "let user of users">
    <mat-expansion-panel-header>
      {{user.email}}
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length] = "totalPosts"
[pageSize] = "postsPerPage"
[pageSizeOptions] = "pageSizeOptions"
(page) = "onChangedPage($event) "
*ngIf = "users.length>0"></mat-paginator>
<p class="info-text mat-dash-body-1" *ngIf="users.length<=0 && !isLoading">No Posts added yet!</p>
