<app-header></app-header>
<mat-sidenav-container class="examplecontainer">
  <mat-sidenav mode="side" [opened]="userIsAuthenticated" class="navbg">
    <ul>
      <li>
        <a mat-button routerLink = "/opredmetu" routerLinkActive = "mat-accent" >Predmeti</a>
      </li>
      <li>
        <a mat-button routerLink = "/list" routerLinkActive = "mat-accent" >Obavestenja</a>
      </li>
      <li>
        <a mat-button routerLink = "/omiljeni" routerLinkActive = "mat-accent" >Omiljeni</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class = "whole">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
