main {
  width:80%;
  margin: 1rem auto;
}


.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height:100vh;
}
.navbg {
  background:burlywood;
  font-style: oblique;
}
.whole {
  height:90vh;
}
.spacer {
  flex: 1 1 auto;
}
